/* RESET */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}  

body {
    background: linear-gradient(180deg, #008498, #3EB3C7, #FFF);
}

.logo {
    width: 13rem;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.card {
    border-radius: 1.3rem!important;
    width: 25rem;
}

.login {
    width: 30rem;
}

.container {
    display: inline-flex;
    justify-content: space-between;
}

    
    .btn-login {
        font-size: 0.9rem;
        letter-spacing: 0.05rem;
        padding: 0.75rem 1rem;
    }
    
    .btn-google {
        color: white !important;
        background-color: #ea4335;
    }
    
    .btn-facebook {
        color: white !important;
        background-color: #3b5998;
    }
