* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
   background-image: url(./img/paises-background/Brasil.svg);
  background-repeat: no-repeat;
  background-size: cover;
   background-position: center; 
  min-width: 100vw;
  min-height: 100vh; 

  /* background: url(./img/paises-background/brasil3.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; */
}
/* ======= ROOT ======= */
:root {
    

    /* colors */
    --base-color: #1195a8;
    --base-color-second: #0c7c8d;
    --color-elements: #fcf9c1;
    --color-details: #c1fcdb;
    --clean: #ffffff;
    --title-color: #103d50;
    --text-color: #384b53;

    /* fonts */
    --title-font-size: 1.875rem;
    --subtitle-font-size: 1rem;
    --font: 'Poppins', sans-serif;
    --logo-font: 'Poppins', sans-serif;
}

/* ======= HEADER ======= */


/*======= LOGO =======*/
nav .logo img {
    width: 10rem;
    float: left;
    height: 2.4rem;
    margin-left: -4rem;
}

/*======= NAVEGAÇÂO =======*/


/* ======= CONTEUDO ======= */

/*======= MODAL =======*/

.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-items: center;
    opacity: 0;
    pointer-events: none;
  }
  
  .modal {
    background-color: white;
    width: 28rem;
    max-width: 100%;
    padding: 0rem 2rem 2rem 2rem;
    border-radius: 0.5rem;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2) ;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .modal-container.show {
    opacity: 1;
    pointer-events: auto;
  }
  
  #kombi {
    width: 10rem;
  }
  
  #iniciar {
    height: 3rem;
    background-color: var(--color-details);
    color: black;
    display: flex;
    align-items: center;
    padding: 0 2rem;
    transition: background 0.3s;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    font-size: var(--subtitle-font-size);  
    border: none;
    margin: 1.5rem;
    cursor: pointer;
    font-family: Poppins;
    justify-content: center;
    font-weight: bold;
    width: 12rem;
  }
  
  #fechar {
    border: none;
    background: none;
    font-family: Poppins;
    font-weight: normal;
    cursor: pointer;
    font-size: 1rem;
  }
  