* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
  background-image: url(./img/brasil.png);
  /*background-repeat: no-repeat;*/
  position: relative;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

/* ======= ROOT ======= */
:root {
    

    /* colors */
    --base-color: #1195a8;
    --base-color-second: #0c7c8d;
    --color-elements: #fcf9c1;
    --color-details: #c1fcdb;
    --clean: #ffffff;
    --title-color: #103d50;
    --text-color: #384b53;

    /* fonts */
    --title-font-size: 1.875rem;
    --subtitle-font-size: 1rem;
    --font: 'Poppins', sans-serif;
    --logo-font: 'Poppins', sans-serif;
}

/* ======= HEADER ======= */


/*======= LOGO =======*/
nav .logo img {
    width: 10rem;
    float: left;
    height: 2.4rem;
    margin-left: -4rem;
}

/*======= NAVEGAÇÂO =======*/


/* ======= CONTEUDO ======= */