*{
    margin: 0;
    padding: 0;
}

:root {
    --header-height: 4.5rem;
  
    /* colors */
    /* HSL color mode */
    --base-color: #CC4E8C;
}



header {
  
    display: flex;
    height: 10rem;
    align-items: center;
  
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: var(--base-color);
    width: 100%;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.103);
}

.usuario {

display: flex;
height: 16.37rem;
align-items: center;
justify-content: center;

position: fixed;
width: 16.37rem;
left: 51.81rem;
top: 1.62rem;
z-index: 100;
}

.fundo {

    position: fixed;
    width: 40px;
    height: 40px;
    left: 1014px;
    top: 225px;

}

.icone {

position: fixed;
width: 22px;
height: 23px;
left: 1024px;
top: 235px;

}

.fundoDois {
position: fixed;
width: 40px;
height: 40px;
left: 1766px;
top: 137px;
}

.editar{
position: absolute;
width: 24px;
height: 24px;
left: 1775px;
top: 145px;

}

.h1 {
position: fixed;
width: 205px;
height: 28px;
left: 856px;
top: 300px;

font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 22px;
line-height: 20px;
text-align: center;
}

.TUm {

    
position: absolute;
width: 177px;
height: 28px;
left: 256px;
top: 380px;

font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 30px;
text-align: center;
} 

.TDois {

position: absolute;
width: 177px;
height: 28px;
left: 491px;
top: 380px;

font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 30px;
text-align: center;

}

hr{
position: absolute;
width: 1540.01px;
height: 0px;
left: 237px;
top: 420px;

border: 1px solid rgba(0, 0, 0, 0.32);
box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.25);
}



